{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "globals": {
    "describe": true,
    "document": true,
    "expect": true,
    "jest": true,
    "test": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-default-props": 0,
    "consistent-return": 0
  },
  "parser": "babel-eslint"
}
